# has it own github project, don't want to cross streams (so to speak)
wheresTheWeef
htb-python-beautifulsoup4.md
htb-python-libraries.md
htb-python-main_block.md
htb-python-main_block.txt
htb-python-project.py
htb-python-requests.md
htb-python3-classes.md
htb-python3-functions.md
htb-python3.md
